
<p>
  <%= link_to "< Back to Categories", categories_path(@category) %> |
</p>

<h1>All Questions for <%= @sub_category.name if @sub_category %></h1>
(Change this to be handled by admin controller)

<ul>
<% @questions.each do |question| %>
  <li>
    <%= link_to question.content, category_sub_category_question_path(@category, @sub_category, question) %>
    <% if @category.sub_categories %>
      <ul>
        <% question.choices.each do |choice| %>
          <li>
            <%= link_to choice.content, category_sub_category_question_choice_path(@category, @sub_category, question, choice) %>
          </li>
        <% end  %>
      </ul>
    <% end %>
  </li>
<% end if @questions %>
</ul>
