.alert.fade.in.alert-notice{ :style=>"display:none; margin-bottom:0;"}
  .button.close{ :"data-dismiss"=>"alert"}
    ×
  .show-flash
.application-wrapper.container-fluid
  .row
    =render 'layouts/user_sidebar'
    .main-bg
      %content
        .content-wrapper.col-sm-9.col-md-10
          .application-content
            .content-margin.row
              .app-text-holder.row.main-bg
                %content
                %h1= "New Blog"
                = render 'form'
                = link_to 'Back', backend_blogs_path
