<div id="application"> 

    <div id="container">
      <!-- Content Homework Progress-->
      <div class="test-wrapper">
        
        <div class="test-title-wrapper">
          <h1> Pruebas de Aptitud</h1>
        </div>
          
        <div class="test-content-wrapper">
          <div class=" row rox-fix">
            <% # raise @uat.to_yaml %>
          </div>  
        </div>
      </div>
    </div>
</div>
