<!-- MOSTRAR TODO EN PORCTENAJE DE ACIERTOS -->

<div id="application"> 
  <!-- Vertical Nav -->
  <%= render 'student/navigation/vertical_navbar' %>


  <div id="container">
        <div class="main-navigation">
          
            <div class="main-title-wrapper">
              <h1> Estadísticas </h1>
            </div>
              

            <div class="main-content-wrapper">
              

              <h1 class="center aprendemy-title-blue">Mis Estadisticas</h1>

              <div class="ct-st-holder">
              
                <h3 class="aprendemy-title-blue">Estadísticas en todas las Categorias </h3>
              
                <ul class="chart">
                  <li>
                    <span style="height:5%" title="ActionScript"></span>
                  </li>
                  <li>
                    <span style="height:70%" title="JavaScript"></span>
                  </li>
                  <li>
                    <span style="height:50%" title="CoffeScript"></span>
                  </li>
                  <li>
                    <span style="height:15%" title="HTML"></span>
                  </li>
                  <li>
                    <span style="height:15%" title="HTML"></span>
                  </li>
                  <li>
                    <span style="height:15%" title="HTML"></span>
                  </li>
                </ul> 
              </div>   

              <!-- Estas son las estadisticas por Cada una de las subcategorias -->
              <div class="sc-st-holder">
                <h3 class="aprendemy-title-blue sc-st-title">Estaditicas en por SubCategorias </h3>

                <div class="row">
                  <div class="col-sm-4 sc-st-wrapper">
                      <h4 class="aprendemy-title-blue center sc-st-subtitle">Razonamiento Verbal </h4>
                  
                      <div class="sub-starts-holder"  data-toggle="tooltip" data-placement="top" title="76%" >
                          <p class="sub-sta-name">Sinonimos</p>                 
                          <span class="spnStarsClass" data-memberid="102">
                            <!-- Cada Estrella represeta un 10% -->
                            <i class="fa fa-star star-achieved start-st" aria-hidden="true"></i>
                            <i class="fa fa-star star-achieved start-st" aria-hidden="true"></i>
                            <i class="fa fa-star star-achieved start-st" aria-hidden="true"></i>
                            <i class="fa fa-star star-achieved start-st" aria-hidden="true"></i>
                            <i class="fa fa-star star-achieved start-st" aria-hidden="true"></i>
                            <i class="fa fa-star star-achieved start-st" aria-hidden="true"></i>
                            <i class="fa fa-star star-achieved start-st" aria-hidden="true"></i>
                            <!-- Una Estrella en la mitad representa que ya ha pasado el 5% -->
                            <i class="fa fa-star-half-o star-achieved " aria-hidden="true"></i>
                            <i class="fa fa-star start-st" aria-hidden="true"></i>
                            <i class="fa fa-star start-st" aria-hidden="true"></i>
                          </span>
                      </div>
                      <div class="sub-starts-holder"  data-toggle="tooltip" data-placement="top" title="76%" >
                          <p class="sub-sta-name">Antonimos</p>                 
                          <span class="spnStarsClass" data-memberid="102">
                            <!-- Cada Estrella represeta un 10% -->
                            <i class="fa fa-star star-achieved start-st" aria-hidden="true"></i>
                            <i class="fa fa-star star-achieved start-st" aria-hidden="true"></i>
                            <i class="fa fa-star star-achieved start-st" aria-hidden="true"></i>
                            <i class="fa fa-star star-achieved start-st" aria-hidden="true"></i>
                            <i class="fa fa-star star-achieved start-st" aria-hidden="true"></i>
                            <i class="fa fa-star star-achieved start-st" aria-hidden="true"></i>
                            <i class="fa fa-star star-achieved start-st" aria-hidden="true"></i>
                            <!-- Una Estrella en la mitad representa que ya ha pasado el 5% -->
                            <i class="fa fa-star-half-o star-achieved " aria-hidden="true"></i>
                            <i class="fa fa-star start-st" aria-hidden="true"></i>
                            <i class="fa fa-star start-st" aria-hidden="true"></i>
                          </span>
                      </div>
                      <div class="sub-starts-holder"  data-toggle="tooltip" data-placement="top" title="76%" >
                          <p class="sub-sta-name">Estructura de Lengua</p>                 
                          <span class="spnStarsClass" data-memberid="102">
                            <!-- Cada Estrella represeta un 10% -->
                            <i class="fa fa-star star-achieved start-st" aria-hidden="true"></i>
                            <i class="fa fa-star star-achieved start-st" aria-hidden="true"></i>
                            <i class="fa fa-star star-achieved start-st" aria-hidden="true"></i>
                            <i class="fa fa-star star-achieved start-st" aria-hidden="true"></i>
                            <i class="fa fa-star star-achieved start-st" aria-hidden="true"></i>
                            <i class="fa fa-star star-achieved start-st" aria-hidden="true"></i>
                            <i class="fa fa-star star-achieved start-st" aria-hidden="true"></i>
                            <!-- Una Estrella en la mitad representa que ya ha pasado el 5% -->
                            <i class="fa fa-star-half-o star-achieved " aria-hidden="true"></i>
                            <i class="fa fa-star start-st" aria-hidden="true"></i>
                            <i class="fa fa-star start-st" aria-hidden="true"></i>
                          </span>
                      </div>
                  </div>

                  <div class="col-sm-4 sc-st-wrapper">
                      <h4 class="aprendemy-title-blue center sc-st-subtitle">Razonamiento Verbal </h4>
                  
                      <div class="sub-starts-holder"  data-toggle="tooltip" data-placement="top" title="76%" >
                          <p class="sub-sta-name ">Sinonimos</p>                 
                          <span class="spnStarsClass" data-memberid="102">
                            <!-- Cada Estrella represeta un 10% -->
                            <i class="fa fa-star star-achieved start-st" aria-hidden="true"></i>
                            <i class="fa fa-star star-achieved start-st" aria-hidden="true"></i>
                            <i class="fa fa-star star-achieved start-st" aria-hidden="true"></i>
                            <i class="fa fa-star star-achieved start-st" aria-hidden="true"></i>
                            <i class="fa fa-star star-achieved start-st" aria-hidden="true"></i>
                            <i class="fa fa-star star-achieved start-st" aria-hidden="true"></i>
                            <i class="fa fa-star star-achieved start-st" aria-hidden="true"></i>
                            <!-- Una Estrella en la mitad representa que ya ha pasado el 5% -->
                            <i class="fa fa-star-half-o star-achieved " aria-hidden="true"></i>
                            <i class="fa fa-star start-st" aria-hidden="true"></i>
                            <i class="fa fa-star start-st" aria-hidden="true"></i>
                          </span>
                      </div>
                      <div class="sub-starts-holder"  data-toggle="tooltip" data-placement="top" title="76%" >
                          <p class="sub-sta-name">Antonimos</p>                 
                          <span class="spnStarsClass" data-memberid="102">
                            <!-- Cada Estrella represeta un 10% -->
                            <i class="fa fa-star star-achieved start-st" aria-hidden="true"></i>
                            <i class="fa fa-star star-achieved start-st" aria-hidden="true"></i>
                            <i class="fa fa-star star-achieved start-st" aria-hidden="true"></i>
                            <i class="fa fa-star star-achieved start-st" aria-hidden="true"></i>
                            <i class="fa fa-star star-achieved start-st" aria-hidden="true"></i>
                            <i class="fa fa-star star-achieved start-st" aria-hidden="true"></i>
                            <i class="fa fa-star star-achieved start-st" aria-hidden="true"></i>
                            <!-- Una Estrella en la mitad representa que ya ha pasado el 5% -->
                            <i class="fa fa-star-half-o star-achieved " aria-hidden="true"></i>
                            <i class="fa fa-star start-st" aria-hidden="true"></i>
                            <i class="fa fa-star start-st" aria-hidden="true"></i>
                          </span>
                      </div>
                      <div class="sub-starts-holder"  data-toggle="tooltip" data-placement="top" title="76%" >
                          <p class="sub-sta-name">Estructura de Lengua</p>                 
                          <span class="spnStarsClass" data-memberid="102">
                            <!-- Cada Estrella represeta un 10% -->
                            <i class="fa fa-star star-achieved start-st" aria-hidden="true"></i>
                            <i class="fa fa-star star-achieved start-st" aria-hidden="true"></i>
                            <i class="fa fa-star star-achieved start-st" aria-hidden="true"></i>
                            <i class="fa fa-star star-achieved start-st" aria-hidden="true"></i>
                            <i class="fa fa-star star-achieved start-st" aria-hidden="true"></i>
                            <i class="fa fa-star star-achieved start-st" aria-hidden="true"></i>
                            <i class="fa fa-star star-achieved start-st" aria-hidden="true"></i>
                            <!-- Una Estrella en la mitad representa que ya ha pasado el 5% -->
                            <i class="fa fa-star-half-o star-achieved " aria-hidden="true"></i>
                            <i class="fa fa-star start-st" aria-hidden="true"></i>
                            <i class="fa fa-star start-st" aria-hidden="true"></i>
                          </span>
                      </div>
                  </div>

                  <div class="col-sm-4 sc-st-wrapper">
                      <h4 class="aprendemy-title-blue center sc-st-subtitle">Razonamiento Verbal </h4>
                  
                      <div class="sub-starts-holder"  data-toggle="tooltip" data-placement="top" title="76%" >
                          <p class="sub-sta-name">Sinonimos</p>                 
                          <span class="spnStarsClass" data-memberid="102">
                            <!-- Cada Estrella represeta un 10% -->
                            <i class="fa fa-star star-achieved start-st" aria-hidden="true"></i>
                            <i class="fa fa-star star-achieved start-st" aria-hidden="true"></i>
                            <i class="fa fa-star star-achieved start-st" aria-hidden="true"></i>
                            <i class="fa fa-star star-achieved start-st" aria-hidden="true"></i>
                            <i class="fa fa-star star-achieved start-st" aria-hidden="true"></i>
                            <i class="fa fa-star star-achieved start-st" aria-hidden="true"></i>
                            <i class="fa fa-star star-achieved start-st" aria-hidden="true"></i>
                            <!-- Una Estrella en la mitad representa que ya ha pasado el 5% -->
                            <i class="fa fa-star-half-o star-achieved " aria-hidden="true"></i>
                            <i class="fa fa-star start-st" aria-hidden="true"></i>
                            <i class="fa fa-star start-st" aria-hidden="true"></i>
                          </span>
                      </div>
                      <div class="sub-starts-holder"  data-toggle="tooltip" data-placement="top" title="76%" >
                          <p class="sub-sta-name">Antonimos</p>                 
                          <span class="spnStarsClass" data-memberid="102">
                            <!-- Cada Estrella represeta un 10% -->
                            <i class="fa fa-star star-achieved start-st" aria-hidden="true"></i>
                            <i class="fa fa-star star-achieved start-st" aria-hidden="true"></i>
                            <i class="fa fa-star star-achieved start-st" aria-hidden="true"></i>
                            <i class="fa fa-star star-achieved start-st" aria-hidden="true"></i>
                            <i class="fa fa-star star-achieved start-st" aria-hidden="true"></i>
                            <i class="fa fa-star star-achieved start-st" aria-hidden="true"></i>
                            <i class="fa fa-star star-achieved start-st" aria-hidden="true"></i>
                            <!-- Una Estrella en la mitad representa que ya ha pasado el 5% -->
                            <i class="fa fa-star-half-o star-achieved " aria-hidden="true"></i>
                            <i class="fa fa-star start-st" aria-hidden="true"></i>
                            <i class="fa fa-star start-st" aria-hidden="true"></i>
                          </span>
                      </div>
                      <div class="sub-starts-holder"  data-toggle="tooltip" data-placement="top" title="76%" >
                          <p class="sub-sta-name">Estructura de Lengua</p>                 
                          <span class="spnStarsClass" data-memberid="102">
                            <!-- Cada Estrella represeta un 10% -->
                            <i class="fa fa-star star-achieved start-st" aria-hidden="true"></i>
                            <i class="fa fa-star star-achieved start-st" aria-hidden="true"></i>
                            <i class="fa fa-star star-achieved start-st" aria-hidden="true"></i>
                            <i class="fa fa-star star-achieved start-st" aria-hidden="true"></i>
                            <i class="fa fa-star star-achieved start-st" aria-hidden="true"></i>
                            <i class="fa fa-star star-achieved start-st" aria-hidden="true"></i>
                            <i class="fa fa-star star-achieved start-st" aria-hidden="true"></i>
                            <!-- Una Estrella en la mitad representa que ya ha pasado el 5% -->
                            <i class="fa fa-star-half-o star-achieved " aria-hidden="true"></i>
                            <i class="fa fa-star start-st" aria-hidden="true"></i>
                            <i class="fa fa-star start-st" aria-hidden="true"></i>
                          </span>
                      </div>
                  </div>
                </div>
               
              </div>


              <div class="clearfix"> </div>

              <!-- Estadisticas Globales -->

              <!-- La idea es que puedas escoger dinamicamente la categoria y veas tu comparacion en todas las 
                subcategorias.
               -->

              <div class="st-global-holder">

                  <h3 class="aprendemy-title-blue st-global-title">Calificación Global</h3>

                  <p>¿Cómo estoy con respecto a los demás?</p>

                  <div class="row">
                    <!-- Subcategories -->
                    <div class="col-md-6">

                      <div class="st-global-wrapper">
                        <h5 class="aprendemy-title-blue">Sinónimos</h5>
                        <ul class="chart">
                          <li>
                            <span style="height:5%" title="Tu"></span>
                          </li>
                          <li>
                            <span class="other-students" style="height:70%" title="Estudiantes de Aprendemy"></span>
                          </li>
                        </ul> 
                      </div>

                    </div>

                    <div class="col-md-6">

                      <div class="st-global-wrapper">
                        <h5 class="aprendemy-title-blue">Antónimos</h5>
                        <ul class="chart">
                          <li>
                            <span style="height:5%" title="Tu"></span>
                          </li>
                          <li>
                            <span class="other-students" style="height:70%" title="Estudiantes de Aprendemy"></span>
                          </li>
                        </ul> 
                      </div>

                    </div>
                    
                  </div>
                  
                
              </div>

            </div>




            
        </div>

      </div>
</div>