<div id="application"> 
  <!-- Vertical Nav -->
  <%= render 'student/navigation/vertical_navbar' %>


  <div id="container">
        <div class="main-navigation">
          
            <div class="main-title-wrapper">
              <h1> Estadísticas </h1>
            </div>
              

            <div class="main-content-wrapper">
              <p style="margin-top: 50px; text-align: center; "> Tus estadísticas estan en desarrollo. Vuelve Pronto </p>

              
            </div>
            
        </div>

      </div>


</div>