
<!-- Modal -->
<div id="finishSimulationModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
        <h4 class="modal-title">¿Está seguro que desea calificar este simulador?</h4>
      </div>
      <div class="modal-body">
        <p>Una vez enviado, todas las preguntas sin respuesta serán marcadas como incorrectas.</p>
      </div>
      <div class="modal-footer">
        <%= link_to "Sí, enviar", "#", class: "btn submitForm btn-default", data: {dismiss: 'modal'} %>
        <%= link_to "Cancelar", "#", class: "btn btn-default", id: 'pauseTimer', data: {dismiss: 'modal'} %>
        <script>
          $("#pauseTimer").click(function(){
            $("#pauseTimerBtn").click();
          })
          $(".submitForm").click(function(){
            $("#finishTimerBtn").click();
          })
        </script>
      </div>
    </div>
  </div>
</div>
