/ Modal
#finishSimulationModal.modal.fade{:role => "dialog"}
  .modal-dialog
    / Modal content
    .modal-content
      .modal-header
        / <button type="button" class="close" data-dismiss="modal">×</button>
        %h4.modal-title ¿Está seguro que desea calificar este simulador?
      .modal-body
        %p Una vez enviado, todas las preguntas sin respuesta serán marcadas como incorrectas.
      .modal-footer
        = link_to "Sí, enviar", "#", class: "btn submitForm btn-default", data: {dismiss: 'modal'}
        = link_to "Cancelar", "#", class: "btn btn-default", id: 'pauseTimer', data: {dismiss: 'modal'}
        :javascript
          $("#pauseTimer").click(function(){
            $("#pauseTimerBtn").click();
          })
          $(".submitForm").click(function(){
            $("#finishTimerBtn").click();
          })
