
<!-- Modal -->
<div id="finishSimulationModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
        <h4 class="modal-title">Are you sure you want to submit this simulation?</h4>
      </div>
      <div class="modal-body">
        <p>Once submitted, all unanswered questions will be marked as wrong.</p>
      </div>
      <div class="modal-footer">
        <%= link_to "Yes, submit", "#", class: "btn submitForm btn-default", data: {dismiss: 'modal'} %>
        <%= link_to "Cancel", "#", class: "btn btn-default", id: 'pauseTimer', data: {dismiss: 'modal'} %>
        <script>
          $("#pauseTimer").click(function(){
            $("#pauseTimerBtn").click();
          })
        </script>
      </div>
    </div>
  </div>
</div>
