<%=link_to "#", data: {'toggle' => "modal", 'target' => "#finishSimulationModal", 'backdrop' => "static", 'keyboard' => "false" }, :class => "btn btn-success simulator-btn"  do %>
	<span class="fa fa-check-square-o"></span> Calificar
<%end %>
