.application-wrapper.container-fluid
  .row
    = render "layouts/user_sidebar"
    .main-bg
      %content
        .content-wrapper.col-sm-9.col-md-10
          .application-content.row
            .content-margin.row
              .application-content-header
                %h3 Simuladores
              .app-text-holder.row
                - @simulator_types.each do |simulator_type|
                  = render 'simulators/simulator_type_card', simulator_type: simulator_type
              .app-text-holder.row
                #chart_holder
                  #chart_container{:style => "min-width: 310px; height: 400px; margin: 0 auto"}
              .app-text-holder.row
                #statistics_table
                  = render 'simulators/statistics_table', simulators: @simulators
