<div class="application-wrapper container-fluid">
		<div class="row">
			<%= render "layouts/user_sidebar" %>

			<div class="main-bg">
        <content>

    			<div class="content-wrapper col-sm-9 col-md-10 ">
    				<div class="application-content row">

    					<div class="content-margin row">
    						<div class="application-content-header">
    							<h3>Simuladores</h3>
    						</div>
    						<div class="app-text-holder row">
      					
                    <% @simulator_types.each do |simulator_type| %>
      								<%= render 'simulators/simulator_type_card', simulator_type: simulator_type %>
                    <% end %>

    						</div>

								<div class="app-text-holder row">
                  <div id="chart_holder">
                    <div id="chart_container" style="min-width: 310px; height: 400px; margin: 0 auto">
                    </div>
                  </div>
                </div>

                <div class="app-text-holder row">
                  <div id="statistics_table">
                      <%= render 'simulators/statistics_table', simulators: @simulators %>
                  </div>
                </div>
                


    					</div>

    				</div>
    			</div>

				</content>
			</div>

		</div>

	</div>
