<div id="container">
  <!-- Vertical Nav -->
    <%= render 'student/navigation/vertical_navbar' %>
  <!-- Course Tools -->
  <div class="main-navigation">

    <div class="main-title-wrapper">
      <h1> Clases en Vivo </h1>
    </div>

    <div class="main-content-wrapper">
      
      
    </div>
  </div>
</div>

