<div class="main-title-wrapper">
	<h1> Pregunta 1 de 10 </h1>
	<div class="hw-arrows">
		<i class="fa fa-arrow-left" aria-hidden="true"></i>
		<i class="fa fa-arrow-right" aria-hidden="true"></i>
	</div>

</div>
<div class="hw-progress-bar">
		<div id="myBar" class="hw-progress" style="width:75%"></div>
	</div>

<div class="homework-wrapper row rox-fix" >
	

	<div class="hw-question">
		<p>¿Cuál de los siguientes números es entero?</p>

		<form class="hm-check">
			<label class="coolbox">
		        <input type="radio" name="P" value="P"/>
		        <span class="box-number"> A </span>
		        <span class="box-info"> Pregunta </span>
		    </label>
		    <label class="coolbox">
		        <input type="radio"  name="P" value="P"/>
		        <span class="box-number"> B </span>
		        <span class="box-info"> Pregunta </span>
		    </label>
		    <label class="coolbox">
		        <input type="radio"  name="P" value="P"/>
		        <span class="box-number"> C </span>
		        <span class="box-info"> Pregunta </span>
		    </label>
		    <label class="coolbox">
		        <input type="radio"  name="P" value="P"/>
		        <span class="box-number"> D </span>
		        <span class="box-info"> Pregunta </span>
		    </label>
		    <label class="coolbox">
		        <input type="radio"  name="P" value="P"/>
		        <span class="box-number"> E </span>
		        <span class="box-info"> Pregunta </span>
		    </label>


		    <div class="answer-question-btn">
		      <input type="submit" name="commit" value="Responder" class="btn btn-info btn-answer">
		    </div>
		</form>
	</div>	


</div>
