<div id="container">
  <!-- Vertical Nav -->
  <%= render 'backend/navigation/vertical_navbar' %>
  
  <div class="main-navigation">

    <div class="main-title-wrapper">
      <h1> Preguntas </h1>
    </div>
    <div class="main-content-wrapper">

      <h1>Editar pregunta</h1>

      <%= render 'form' %>
      
      <br>

      <%= link_to "Ver", backend_course_category_sub_category_question_path(@backend_choice.question.sub_category.category.course, @backend_choice.question.sub_category.category, @backend_choice.question.sub_category, @backend_choice.question, @backend_choice), class: "btn btn-primary" %>
      <%= link_to "Atrás", backend_course_category_sub_category_question_path(@backend_choice.question.sub_category.category.course, @backend_choice.question.sub_category.category, @backend_choice.question.sub_category, @backend_choice.question), class: "btn btn-primary" %>

    </div>
  </div>
</div>

<script type="text/javascript">
</script>
