<%= render 'backend/shared/admin_vertical_navbar' %>  


<div class="admin-wrapper">
	<div class="container">
		<h1>Administrador de Categorias/ subcategorias / preguntas </h1>

		<button>Crear Categoria</button>

		
	</div>

</div>