<div id="container">
  <%= render 'backend/navigation/vertical_navbar' %>
  
  <div class="main-navigation">

    <div class="main-title-wrapper">
      <h1> Curso: <%= @backend_course.name %> </h1>
    </div>
    <div class="main-content-wrapper">
      <p id="notice"><%= notice %></p>


    </div>
  </div>
</div>

