.application-wrapper.container-fluid
  .row
    =render 'layouts/user_sidebar'
    .main-bg
      %content
        .content-wrapper.col-sm-9.col-md-10
          .application-content
            .content-margin.row
              .app-text-holder.row.main-bg
                %content
                  %h1 Aprendemy tiene dos cursos para ti
                  %br
                  .col-md-6
                    = image_tag 'mundo', size: '200x200'
                    %br
                    %button#btnClick{"data-text-swap" => "Como Funciona Aprendemy"} Como Funciona Aprendemy

                  .col-md-6
                    - @courses.each do |course|
                      .tools-panel{:onclick => "location.href='/student/courses/#{course.id}'"}
                        .exercises-text
                          %h4
                            %i.fa.fa-book.list-icon>
                            = course.name
                          %p= course.description
