<nav  id="vertical-nav" >
  <ul id="main-links">
    <li class="nav-item">
      <a href="<%= backend_root_path %>">
        <svg class="icon">
          <symbol  id="icon-home" viewBox="0 0 32 32">
            <title>home</title>
            <path class="path1" d="M32 18.451l-16-12.42-16 12.42v-5.064l16-12.42 16 12.42zM28 18v12h-8v-8h-8v8h-8v-12l12-9z"></path>
          </symbol>
          <use xlink:href="#icon-home"></use>
          <span> Inicio </span>
        </svg>
      </a>
    </li>
    <li class="nav-item">
      <a href="<%= backend_attitude_index_path %>">
        <svg class="icon">
          <symbol id="icon-question" viewBox="0 0 1792 1792">
            <title>atitude tests</title>
            <path class="path1" d="M1024 1376v-192q0-14-9-23t-23-9h-192q-14 0-23 9t-9 23v192q0 14 9 23t23 9h192q14 0 23-9t9-23zm256-672q0-88-55.5-163t-138.5-116-170-41q-243 0-371 213-15 24 8 42l132 100q7 6 19 6 16 0 25-12 53-68 86-92 34-24 86-24 48 0 85.5 26t37.5 59q0 38-20 61t-68 45q-63 28-115.5 86.5t-52.5 125.5v36q0 14 9 23t23 9h192q14 0 23-9t9-23q0-19 21.5-49.5t54.5-49.5q32-18 49-28.5t46-35 44.5-48 28-60.5 12.5-81zm384 192q0 209-103 385.5t-279.5 279.5-385.5 103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z"></path>
          </symbol>
          <use xlink:href="#icon-question"></use>
          <span> Tests de Aptitud </span>
        </svg>
      </a>
    </li>
    <li class="nav-item">
      <a href="<%= backend_categories_path %>">
        <svg class="icon">
          <symbol id="icon-tag" viewBox="0 0 1792 1792">
            <title>categories</title>
            <path class="path1" d="M576 448q0-53-37.5-90.5t-90.5-37.5-90.5 37.5-37.5 90.5 37.5 90.5 90.5 37.5 90.5-37.5 37.5-90.5zm1067 576q0 53-37 90l-491 492q-39 37-91 37-53 0-90-37l-715-716q-38-37-64.5-101t-26.5-117v-416q0-52 38-90t90-38h416q53 0 117 26.5t102 64.5l715 714q37 39 37 91z"></path>
          </symbol>
          <use xlink:href="#icon-tag"></use>
          <span> Categorías </span>
        </svg>
      </a>
    </li>
    <li class="nav-item">
      <a href="#">
        <svg class="icon">
          <symbol id="icon-tags" viewBox="0 0 1792 1792">
            <title>categories</title>
            <path class="path1" d="M384 448q0-53-37.5-90.5t-90.5-37.5-90.5 37.5-37.5 90.5 37.5 90.5 90.5 37.5 90.5-37.5 37.5-90.5zm1067 576q0 53-37 90l-491 492q-39 37-91 37-53 0-90-37l-715-716q-38-37-64.5-101t-26.5-117v-416q0-52 38-90t90-38h416q53 0 117 26.5t102 64.5l715 714q37 39 37 91zm384 0q0 53-37 90l-491 492q-39 37-91 37-36 0-59-14t-53-45l470-470q37-37 37-90 0-52-37-91l-715-714q-38-38-102-64.5t-117-26.5h224q53 0 117 26.5t102 64.5l715 714q37 39 37 91z"></path>
          </symbol>
          <use xlink:href="#icon-tags"></use>
          <span> Sub-categorías </span>
        </svg>
      </a>
    </li>
    <div class="nav-wrapper">
      <li class="nav-item">
        <a href="mailto:hola@aprendemy.com" >
          <svg class="icon icon-envelop"><symbol id="icon-envelop" viewBox="0 0 32 32">
            <title>envelop</title>
            <path class="path1" d="M29 4h-26c-1.65 0-3 1.35-3 3v20c0 1.65 1.35 3 3 3h26c1.65 0 3-1.35 3-3v-20c0-1.65-1.35-3-3-3zM12.461 17.199l-8.461 6.59v-15.676l8.461 9.086zM5.512 8h20.976l-10.488 7.875-10.488-7.875zM12.79 17.553l3.21 3.447 3.21-3.447 6.58 8.447h-19.579l6.58-8.447zM19.539 17.199l8.461-9.086v15.676l-8.461-6.59z"></path>
            </symbol>
            <use xlink:href="#icon-envelop"></use>
            <span > Soporte </span>
          </svg>
        </a>
      </li>
    </div>
  </ul>
</nav>