<div id="application"> 
    <!-- Vertical Nav -->
    <%= render 'student/navigation/vertical_navbar' %>

    <div id="container">
      <!-- Content Homework Progress-->
      <div class="test-wrapper">
        
        <div class="test-title-wrapper">
          <h1> Prueba de Aptitud</h1>
        </div>
          
        <div class="test-content-wrapper">
          <div class=" row rox-fix">
            
          </div>  
        </div>
      </div>
    </div>
</div>
