<div class="row">
	<a class="banner-link" href="/payments">
		<div id="banner_wrapper">
		    <div id="content">
		        <h2 class='banner-principal'>Quieres aprobar el Enes como un super heroe?</h2>
		        <h4 class='banner-secondary banner-h-1'>Continua utilizando nuestros productos por un único pago de: </h4>
		        <h4><span class="banner-price">$29.99</span></h4>
		        <h4 class='banner-secondary banner-h-2'>Compra tu Licencia Ya!</h4>
		    </div><!-- END content -->
		     
		    <div id="moving-clouds">
		        <ul id="group-1">
		            <li class="cloud-1"></li>
		            <li class="cloud-2"></li>
		            <li class="cloud-3"></li>
		            <li class="cloud-4"></li>
		        </ul>
		        <ul id="group-2">
		            <li class="cloud-1"></li>
		            <li class="cloud-2"></li>
		            <li class="cloud-3"></li>
		            <li class="cloud-4"></li>
		        </ul>
		    </div><!-- END moving-clouds -->
		     
		    <ul id="flying-man">
		        <li></li>
		    </ul><!-- END flying-man -->
		     
		    <ul id="bottom-cloud">
		        <li></li>
		    </ul><!-- END water -->
		     
		</div><!-- END banner_wrapper -->
	</a>
</div>