.row
  %a.banner-link{:href => "/payments"}
    #banner_wrapper
      #content
        %h2.banner-principal ¿Quieres aprobar el ENES como un súper héroe?
        %h4.banner-secondary.banner-h-1 Continúa utilizando nuestros productos por un único pago de:
        %h4
          %span.banner-price $29.99
        %h4.banner-secondary.banner-h-2 Haz click aquí y compra tu licencia hoy mismo.
      / END content
      #moving-clouds
        %ul#group-1
          %li.cloud-1
          %li.cloud-2
          %li.cloud-3
          %li.cloud-4
        %ul#group-2
          %li.cloud-1
          %li.cloud-2
          %li.cloud-3
          %li.cloud-4
      / END moving-clouds
      %ul#flying-man
        %li
      / END flying-man
      %ul#bottom-cloud
        %li
      / END water
    / END banner_wrapper
