<div class="row">
	<div id="banner_wrapper">
	    <div id="content">
	        <h2>Quieres aprobar el Enes como un super heroe?</h2>
	        <p><a href="#">Compra tu Licencia Ya!</a></p>
	    </div><!-- END content -->    
	    <div id="moving-clouds">
	        <ul id="group-1">
	            <li class="cloud-1"></li>
	            <li class="cloud-2"></li>
	            <li class="cloud-3"></li>
	            <li class="cloud-4"></li>
	        </ul>
	        <ul id="group-2">
	            <li class="cloud-1"></li>
	            <li class="cloud-2"></li>
	            <li class="cloud-3"></li>
	            <li class="cloud-4"></li>
	        </ul>
	    </div><!-- END moving-clouds -->
	     
	    <ul id="flying-man">
	        <li></li>
	    </ul><!-- END flying-man -->
	     
	    <ul id="bottom-cloud">
	        <li></li>
	    </ul><!-- END water -->
	     
	</div><!-- END banner_wrapper -->
</div>