<div class="application-wrapper container-fluid">
	<div class="row">

		<%= render "layouts/user_sidebar" %>

		<div class="main-bg">
    		<content>

				<div class="content-wrapper col-sm-9 col-md-10 ">
					<div class="application-content row">

					<% if current_user.free? %>
						<%= render 'home/banner.html' %>
					<%end%>
					

					<div class="content-margin row">
						<div class="application-content-header">
							<h3>Herramientas</h3>
						</div>
						<div class="app-text-holder row">
							<div class="col-md-4">
								<div onclick="location.href='/categories'" class="tools-panel">
									<div class="exercises-text">
										<h4><i class="fa fa-book list-icon"></i>Ejercicios </h4>
										<p> 
											Practica cientos de ejercicios, podrás observar tu progreso con estadísticas personalizadas. 
							    		</p>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div onclick="location.href='/simulators'" class="tools-panel">
									<div class="exercises-text">
										<h4><i class="fa fa-desktop list-icon"></i> Simuladores </h4>
										<p >
											Practica un poco más gracias a los simuladores de pruebas que hemos preparado para ti.
							    		</p>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div onclick="location.href='/live_classes'" class="tools-panel">
									<div class="exercises-text">
										<h4><i class="fa fa-youtube-play list-icon"></i>Clases En Vivo</h4>
										<p>
							        		Recibe clases online en vivo con profesores expertos en el Enes que solucionarán tus dudas.
							    		</p>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class=" content-margin row">
						<div class="application-content-header">
							<h3>Noticias Importantes</h3>
						</div>
						<div class="app-text-holder news-holder">
								<%= image_tag("isotipo.png", class: "news-img", alt: "Apredemy-logo") %>
					            <p class="news-content-text">
					        		Estamos muy contentos de que te hayas unido aquí a Aprendemy. <br> <br> Esta herramienta ha sido creada por profesores expertos para mejorar tus notas en los exámenes del Senescyt. Puedes utilizar todas nuestras herramientas de forma ilimitada por 10 días, si te gustaron podrás adquirir una licencia para tener acceso ilimitado.<br> <br> Feliz Aprendizaje :) <br> Tu Equipo de Aprendemy.
					    		</p>
						</div>

					</div>
				</div>

				</div>

			</content>
		</div>

	</div>

</div>
