<nav class="navbar navbar-default landing-navbar">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed landing-navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

        <a class="navbar-brand" href="#">
          <%= image_tag("logo.png", id:"logo-landing-navbar",  alt: "Apredemy-logo") %>
        </a>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#init" class="scroll">Inicio</a></li>
        <li><a href="#how-works" class="scroll">¿Cómo Funciona?</a></li>
        <li><a href="#about" class="scroll">Aprendizaje</a></li>
        <li><a href="#landing-benefits" class="scroll">Ventajas</a></li>
        <li><a href="#our-courses" class="scroll">Cursos</a></li>
        <li><a href="#testimonies" class="scroll" >Testimonios</a></li>
        <li><%= link_to 'Iniciar sesión', new_user_session_path %></li>
        <li><a class="btn btn-primary btn-session-landing " data-toggle="modal" data-target="#myModal" >Registro</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>