.payments-container
  .container
    .row
      .payment-heading-text
        - if current_user.license.expired?
          %h1 Tu licencia de prueba ha caducado.
          %br
        %h3 Sigue utilizando todas las herramientas que Aprendemy tiene para ti
        %p 97% de nuestros estudiantes mejoran sus notas.
        %p Únete a la plataforma con la tecnología más avanzada del mercado.
      .payments-img-container
  .container
    .row.payment-options
      %h3.price-title Precio:
      .col-md-6.col-md-offset-3
        .payment-tab
          .payment-tab-heading
            %h3 Curso Premium
          .payment-tab-info
            %div
              #1
                %p Un solo pago de:
                %p.price $29,99
              #2{:style => "display:none;"}
                %p Un solo pago de:
                %p.price $49,99
                %p por 2 personas
              %button#btnClick{"data-text-swap" => "Estudia Solo. Click Aquí"} Estudia con un amigo! Click Aquí
            %p Incluye
            %ul.price-list
              %span.fa.fa-check-square-o
              %li Miles de Ejercicios Interactivos.
              %br
                %span.fa.fa-check-square-o
                %li Simuladores completos Ilimitados.
                %br
                  %span.fa.fa-check-square-o
                  %li Mini-simuladores Ilimitados.
                  %br
                    %span.fa.fa-check-square-o
                    %li Cientos de Videos Explicativos.
                    %br
                      %span.fa.fa-check-square-o
                      %li Clases online en vivo.
                      %br
                        %span.fa.fa-check-square-o
                        %li Acceso a todas las clases pregrabadas.
                        %br
                          %span.fa.fa-check-square-o
                          %li Estadísticas de tu progreso.
                          %br
            .btn-payments
              %a.btn-info.btn-lg{:href => "#deposito"} Comprar Licencia
    %hr.divider
      / Paso 1: Realiza el pago de tu inscripción.
      .row
        %h3.price-title Paso 1: Realiza el pago de tu inscripción
        #deposito.col-md-6.col-md-offset-3
          .payment-instructions
            .bank-payments
              %p{:style => "text-align: center; font-size: 20px;"}
                %span{:style => "color: #273b47;"} Depósito Bancario o Transferencia
            .banco-pichincha-logo
              = image_tag("banco-p.png", alt: "Apredemy Banco Pichincha")
            .payment-intructions-texts
              %p{:style => "text-align: left;"}
                %strong CUENTA DE AHORROS
              %p{:style => "text-align: left;"}
                %strong> NÚMERO:
                \&nbsp;
                %span{:style => "font-size: 20px;"} 2202851180
              %p{:style => "text-align: left;"}
                %strong A NOMBRE DE:
                %span{:style => "font-size: 20px;"} Fausto Hidrobo
              %p{:style => "text-align: left;"}
                %strong VALOR POR PERSONA:
                %span{:style => "font-size: 20px;"} $29,99
              %p{:style => "text-align: left;"}
                %strong VALOR POR 2 PERSONAS:
                %span{:style => "font-size: 20px;"} $49,99
              %p No olvides guardar el comprobante de pago que te entrega el banco. El número de transacción nos sirve para verificar tu depósito.
              %p
                PILAS!!!&nbsp; También puedes pagar en las tiendas
                %strong MI VECINO.
                Las encuentras en tu barrio de lunes a domingo.
      %hr.divider
        / Confirmar Pagos
        .row.payment-steps
          %h3.price-title Paso 2: Confirma tu pago
          .col-md-4
            .confirm-payment
              %h3 LLamada Telefónica
              .phone
              %p 0983805516
              %p
                Llámanos al Celular: 0983805516 (Atención 24 horas, todos los días). Tu cuenta será confirmada inmediatamente.
          .col-md-4
            .confirm-payment
              %h3 Whats App
              .whatsapp
              %p 0983805516
              %p
                Envíanos un mensaje directo con tus datos y el número de depósito.
                %br
                  Tu cuenta será confirmada inmediatamente.
          .col-md-4
            .confirm-payment
              %h3 Email
              .email
              %p pagos@aprendemy.com
              %p
                Envíanos un email con tus datos y el número de depósito.
                %br
                  Tu cuenta será confirmada en un plazo de 12 horas.
  / Footer
  .footer
    %p.copyright
      Copyright © 2016. Aprendemy.
    .footer-img
      = image_tag("isotipo.png", class: "aprendemy-img", alt: "Apredemy Logo")
    .community-icons-footer
      %a{:href => "#"}
        %i#social-fb-footer.fa.fa-facebook-square.fa-3x.social
      %a{:href => "#"}
        %i#social-tw-footer.fa.fa-twitter-square.fa-3x.social
      %a{:href => "#"}
        %i#social-yt-footer.fa.fa-youtube-square.fa-3x.social
      %a{:href => "#"}
        %i#social-em-footer.fa.fa-envelope-square.fa-3x.social
:javascript
  $('#btnClick').on('click',function(){

  	var el = $(this);
  	if (el.text() == el.data("text-swap")) {
  	    el.text(el.data("text-original"));
  	} else {
  	    el.data("text-original", el.text());
  	    el.text(el.data("text-swap"));
  	}

      if($('#1').css('display')!='none'){
      $('#2').html($('#static').html()).show().siblings('div').hide();
      }else if($('#2').css('display')!='none'){
          $('#1').show().siblings('div').hide();
      }
  });
