<div class="payments-container">
	<div class='container'>
		<div class="row">
			<div class="payment-heading-text">
				<h3>Sigue utilizando todas las herramientas que Aprendemy para ti</h3>
				<p>97% de los estudiantes mejoran sus notas.</p>
				<p>Unete a la comunidad con tecnologia mas avanzada</p>
			</div>
			<div class="payments-img-container">

			</div>
		</div>
		
	</div>
	<div class='container'>

		<div class="row payment-options">
			<div class='col-md-6'>
				<h3>Formas de Pago</h3>
			</div>

			<div class='col-md-6'>
				<div class='payment-tab'>
					<div class="payment-tab-heading">
						<h3>Curso Premium</h3>
					</div>
					<div class="payment-tab-info">
						<p>Un solo pago de:</p>
						<p class="price"> $29,99</p>
						<p>Incluye</p>
						<ul class="price-list">
							<span class="fa fa-check-square-o"></span><li>Miles de Ejercicios Interactivos.</li>
							<br>
							<span class="fa fa-check-square-o"></span><li>Simuladores completos Ilimitados.</li>
							<br>
							<span class="fa fa-check-square-o"></span><li>Mini-simuladores Ilimitados.</li>
							<br>
							<span class="fa fa-check-square-o"></span><li>Cientos de Videos Explicativos.</li>
							<br>
							<span class="fa fa-check-square-o"></span><li>Clases online en vivo.</li>
							<br>
							<span class="fa fa-check-square-o"></span><li>Acceso a todas las clases pregradabas.</li>
							<br>
							<span class="fa fa-check-square-o"></span><li>Estadisticas de tu progreso.</li>
							<br>
						</ul>
						<div class="btn-payments">
							<a href="#" class="btn-info btn-lg"> Inscribirse al curso </a>
						</div>
					</div>
				</div>

			</div>
		</div>


		<!-- Confirma tu pago  -->
		 <div class="row payment-steps">
			<h3 style="text-align: center">Confirma tu pago</h3>

			<div class='col-md-6'>
				<div class=" confirm-payment">
					<h3>Whats App</h3>

					<div class="whatsapp">
						<%= image_tag("whatsapp.png", alt: "Apredemy whatsapp") %>		
					</div>

					<p>099999999 </p>

					<p>
						Envianos tu email y el numero de deposito.
						<br>
						Tu cuenta sera confirmada inmediatamente.
					</p>
				</div>
			</div>
			<div class='col-md-6 '>
				<div class=" confirm-payment">
					<h3>Email</h3>

					<div class="email">
						<%= image_tag("email.png", alt: "Apredemy email") %>	
					</div>
					<p>
						<br>
						Envianos tu email y el numero de deposito.
						<br>
						Tu cuenta sera confirmada en menos de 12 horas.
					</p>
				</div>
				
				
			</div>

		</div>


		<div class="row">
			<h3>Preguntas sobre el curso</h3>
			<div class='col-md-6'>
				<p>Pregunta 1</p>
				<p>Respuesta 2</p>
				<br>
				<p>Pregunta 1</p>
				<p>Respuesta 2</p>
				<br>
				<p>Pregunta 1</p>
				<p>Respuesta 2</p>
				<br>
				<p>Pregunta 1</p>
				<p>Respuesta 2</p>
			</div>
			<div class='col-md-6'>
				<p>Pregunta 1</p>
				<p>Respuesta 2</p>
				<br>
				<p>Pregunta 1</p>
				<p>Respuesta 2</p>
				<br>
				<p>Pregunta 1</p>
				<p>Respuesta 2</p>
				<br>
				<p>Pregunta 1</p>
				<p>Respuesta 2</p>
			</div>

		</div>

		<div class="row">
			<h3>Ayuda?</h3>
			

		</div>


	</div>
</div>