<div class="live-class-holder">
	<h3 class="live-class-heading">En vivo en este momento:</h3>
	
	<div class="video-holder" >
		<iframe class="video" src="http://www.youtube.com/embed/If2G4ZU8yuA" frameborder="0" allowfullscreen></iframe>
	</div>
	<div class="online-now-info">
		<h2 class="live-class-heading">Tema: Verbal</h2>
		<p> Explicacion del tema de verbal.</p>
		<h2 class="live-class-heading" >Profe: Fausto Hidrobo. </h2>
		<a href="" class="btn btn-info youtube-start">Ver en Youtube</a>
	</div>
	
</div>