.live-class-holder
  %h3.live-class-heading En vivo en este momento:
  .video-holder
    %iframe.video{:allowfullscreen => "", :frameborder => "0", :src => @enes.url}
  .online-now-info
    %h2.live-class-heading
      Tema: #{@enes.subject}
    %p
      = @enes.explanation
    %h2.live-class-heading
      Profe: #{@enes.professor}
    %a.btn.btn-info.youtube-start{:href => @enes.url} Ver en Youtube