.application-wrapper.container-fluid
  .row
    = render 'layouts/user_sidebar.haml'
    .content-wrapper.col-sm-9.col-md-10
      .application-content.row
        .content-margin.row
          .application-content-header
            %h3 Clases en vivo
          .app-text-holder.row
            - if @enes.online_now == false
              = render 'live_classes/banner_live_class.haml'
            - else
              = render 'live_classes/online_live_class.haml'

 					



