<div class="application-wrapper container-fluid">
	<div class="row">
			
		<%= render 'layouts/user_sidebar.html' %>
			
		<div class="content-wrapper col-sm-9 col-md-10 ">
			<div class="application-content row">

				<div class="content-margin row"> 
					<div class="application-content-header">
						<h3>Clases en vivo</h3>
					</div>
					<div class="app-text-holder row">

						<% if @enes.online_now == false %>
							<%= render 'live_classes/banner_live_class.html' %>
						<% else %>
							<%= render 'live_classes/online_live_class.html' %>
						<% end%>	

					</div>
					
				</div>

			</div>	
		</div>
	</div>
</div>

