.application-wrapper.container-fluid
  .row
    =render 'layouts/user_sidebar'
    .main-bg
      %content
        .content-wrapper.col-sm-9.col-md-10
          .application-content 
            .content-margin.row
              .application-content-header
                %h3 Ejercicios
              .app-text-holder.row.main-bg
                %content
                  =render partial: "sub_categories/statistics_table", locals: { category: @categories.first } 
                  .app-text-holder.row
                    %div
                      #chart_container{ :style =>"min-width: 310px; height: 400px; margin: 0 auto"}   
                    =render "layouts/chart_info.js", title: "Progreso en Ejercicios", categories: @sub_category_names, series: @series
:javascript
  $('li.dropdown-exercises').click(function() {
     $('li.dropdown-exercises').not(this).find('ul').hide();
     $(this).find('ul').toggle();
  });


