<div class='payments-container'>
  <div class='container'>
    <div class='row'>
      <div class='payment-heading-text'>
        <h3>Sigue utilizando todas las herramientas que Aprendemy tiene para ti</h3>
        <p>97% de nuestros estudiantes mejoran sus notas.</p>
        <p>Únete a la plataforma con la tecnología más avanzada del mercado.</p>
      </div>
      <div class='payments-img-container'></div>
    </div>
  </div>

  <!-- Price Table -->

  <section id="plans">
        <div class="container">
            <div class="row prices-container">

                <!-- item -->
                <div class="col-md-4 text-center">
                    <div class="panel panel-danger panel-pricing">
                        <div class="panel-heading">
                            <i class="fa fa-desktop"></i>
                            <h3>Todos los Cursos de Aprendemy</h3>
                        </div>
                        <div class="panel-body text-center">
                            <p><strong>Gratis</strong></p>
                            <p class="cost-text">Acceso completo por 5 días</p>
                        </div>
                        <ul class="list-group text-center">
                            <li class="list-group-item"><i class="fa fa-check"></i>Ejercicios interactivos</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> Simuladores del Examen</li>
                            <li class="list-group-item"><i class="fa fa-check"></i>Tutoriales de todos los temas </li>
                        </ul>
                    </div>
                </div>
                <!-- /item -->

                <!-- item -->
                <div class="col-md-4 text-center">
                    <div class="panel panel-success panel-pricing">
                        <div class="panel-heading">
                            <i class="fa fa-desktop"></i>
                            <h3> Curso Unificado Enes-SerBachiller </h3>
                        </div>
                        <div class="panel-body text-center">
                            <p><strong>$9,99 al mes</strong></p>
                            <p class="cost-text">6 meses ($59,99) un solo pago</p>
                        </div>
                        <ul class="list-group text-center">
                            <li class="list-group-item"><i class="fa fa-check"></i>Curso Perzonalizado paso a paso</li>
                            <li class="list-group-item"><i class="fa fa-check"></i>Ejercicios interactivos</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> Simuladores del Examen</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> Clases todas las semanas</li>
                            <li class="list-group-item"><i class="fa fa-check"></i>Clases Exclusivas para usuarios premium</li>
                            <li class="list-group-item"><i class="fa fa-check"></i>Tutoriales de todos los temas </li>
                            <li class="list-group-item"><i class="fa fa-check"></i>Estadisticas Perzonalidas </li>
                        </ul>
                        <div class="panel-footer">
                            <a class="btn btn-lg btn-block btn-success" href="#pagos">Registrarme!</a>
                        </div>
                    </div>
                </div>
                <!-- /item -->

                <!-- item -->
                <div class="col-md-4 text-center">
                    <div class="panel panel-warning panel-pricing">
                        <div class="panel-heading">
                            <i class="fa fa-desktop"></i>
                            <h3>Curso Enes o Ser Bachiller por separado </h3>
                        </div>
                        <div class="panel-body text-center">
                            <p><strong>$5,83 al mes</strong></p>
                            <p class="cost-text">6 meses ($34,99) un solo pago</p>
                        </div>
                        <ul class="list-group text-center">
                            <li class="list-group-item"><i class="fa fa-check"></i>Curso Perzonalizado paso a paso</li>
                            <li class="list-group-item"><i class="fa fa-check"></i>Ejercicios interactivos</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> Simuladores del Examen</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> Clases todas las semanas</li>
                            <li class="list-group-item"><i class="fa fa-check"></i>Clases Exclusivas para usuarios premium</li>
                            <li class="list-group-item"><i class="fa fa-check"></i>Tutoriales de todos los temas </li>
                            <li class="list-group-item"><i class="fa fa-check"></i>Estadisticas Perzonalidas </li>
                        </ul>
                        <div class="panel-footer">
                            <a class="btn btn-lg btn-block btn-warning" href="#pagos">Registrarme!</a>
                        </div>
                    </div>
                </div>
                <!-- /item -->

                

            </div>
        </div>
  </section>


  <div class='container' id="pagos">
    


    

    <hr class='divider'>
      <!-- Paso 1: Realiza el pago de tu inscripción. -->
      <div class='row'>
        <h3 class='price-title'>Paso 1: Realiza el pago de tu inscripción</h3>
        <div class='col-md-6 col-md-offset-3' id='deposito'>
          <div class='payment-instructions'>
            <div class='bank-payments'>
              <p style='text-align: center; font-size: 20px;'>
                <span style='color: #273b47;'>Depósito Bancario o Transferencia</span>
              </p>
            </div>
            <div class='banco-pichincha-logo'>
            </div>
            <div class='payment-intructions-texts'>
              <p style='text-align: left;'>
                <strong>CUENTA DE AHORROS</strong>
              </p>
              <p style='text-align: left;'><strong>NÚMERO:</strong>&nbsp;
                <span style='font-size: 20px;'>2202851180</span>
              </p>
              <p style='text-align: left;'>
                <strong>A NOMBRE DE:</strong>
                <span style='font-size: 20px;'>Fausto Hidrobo</span>
              </p>
              <p style='text-align: left;'>
                <strong>CURSO UNIFICADO ENES-SER BACHILLER:</strong>
                <span style='font-size: 25px;'>$59,99</span>
              </p>
              <p style='text-align: left;'>
                <strong>CURSO ENES O SER BACHILLER: </strong>
                <span style='font-size: 25px;'>$34,99</span>
              </p>
              <p>No olvides guardar el comprobante de pago que te entrega el banco. El número de transacción nos sirve para verificar tu depósito.</p>
              <p>
                PILAS!!!&nbsp; También puedes pagar en las tiendas
                <strong>MI VECINO.</strong>
                Las encuentras en tu barrio de lunes a domingo.
              </p>
            </div>
          </div>
        </div>
      </div>
      <hr class='divider'>
        <!-- Confirmar Pagos -->
        <div class='row payment-steps'>
          <h3 class='price-title'>Paso 2: Confirma tu pago</h3>
          <div class='col-md-4'>
            <div class='confirm-payment'>
              <h3>LLamada Telefónica</h3>
              <div class='phone'></div>
              <p>0999927810</p>
              <p>
                Llámanos al Celular: 0999927810 (Atención 24 horas, todos los días). Tu cuenta será confirmada inmediatamente.
              </p>
            </div>
          </div>
          <div class='col-md-4'>
            <div class='confirm-payment'>
              <h3>Whats App</h3>
              <div class='whatsapp'></div>
              <p>0999927810</p>
              <p>
                Envíanos un mensaje directo con tus datos y el número de depósito.
                <br>
                  Tu cuenta será confirmada inmediatamente.
                </br>
              </p>
            </div>
          </div>
          <div class='col-md-4'>
            <div class='confirm-payment'>
              <h3>Email</h3>
              <div class='email'></div>
              <p>hola@aprendemy.com</p>
              <p>
                Envíanos un email con tus datos y el número de depósito.
                <br>
                  Tu cuenta será confirmada en un plazo de 12 horas.
                </br>
              </p>
            </div>
          </div>
        </div>
      </hr>
    </hr>
  </div>
  <!-- Footer -->
  
  <%=  render 'home/footer'%>


<script>
  $('#btnClick').on('click',function(){
  
    var el = $(this);
    if (el.text() == el.data("text-swap")) {
        el.text(el.data("text-original"));
    } else {
        el.data("text-original", el.text());
        el.text(el.data("text-swap"));
    }
  
      if($('#1').css('display')!='none'){
      $('#2').html($('#static').html()).show().siblings('div').hide();
      }else if($('#2').css('display')!='none'){
          $('#1').show().siblings('div').hide();
      }
  });
</script>
