<div id="application"> 
    <!-- Vertical Nav -->
    <%= render 'student/navigation/vertical_navbar' %>

    <div id="container">
      <!-- Content Homework Progress-->
      <div class="test-wrapper">
        
        <div class="test-title-wrapper">
          <h1> Simuladores </h1>
        </div>
          
        <div class="test-content-wrapper">
          <div class=" row rox-fix">
            
            <% @tests.each do |test| %>
              <!-- test -->
              <div class="col-md-3 col-sm-4 col-xs-12 cat-grid">
                <div class="card">
                    <div class="subcategory-card" style="background-image: url('https://codeplaceimages.s3.amazonaws.com/project-management-tool_thumbnail_1463755547');">
                      <div class="subcategory-info-wrapper">
                        <h2 class="subcategory-title">
                          <p><%= test.title %></p>
                        </h2>
                        <ul class="subcategory-information">
                          <li> 3870 ejercicios </li>
                          <li> 75 puntos </li>
                        </ul>
                      </div>
                    </div>
                    <div class="info-card">
                      <p><%= test.description %></p>

                      <%= link_to 'Tomar Examen', new_student_course_test_course_user_test_path(@course, test), class: 'btn btn-success'  %>
                    </div>
                </div>
              </div>
            <% end %>

              
          </div>  
        </div>

      
        
      </div>
    </div>
</div>

<!-- .alert.fade.in.alert-notice{ :style=>"display:none; margin-bottom:0;"}
  .button.close{ :"data-dismiss"=>"alert"}
    ×
  .show-flash
.application-wrapper.container-fluid
  .row
    =render 'layouts/user_sidebar'
    - show_explanation = !@answers.nil?
    .main-bg
      %content
        .content-wrapper.col-sm-9.col-md-10
          .application-content
            .content-margin.row
              %ol.breadcrumb{:style=>"background-color:#fff"}
                = render_breadcrumbs :tag => :li, :separator => ""
                .content-wrapper.col-sm-9.col-md-10
          .application-content
            .content-margin.row
              .app-text-holder.row.main-bg
                %content
                  %h3= "Exámenes Del Curso"
                  %table.table
                    %thead
                      %tr
                        %th
                          Examen
                        %th
                          Descripción
                        %th
                          Acciones
                    %tbody
                      - @tests.each do |t|
                        %tr
                          %td= t.title
                          %td= t.description
                          -#%td= link_to 'Tomar Examen', student_new_test_path(@course, t), class: 'btn btn-success'
                          %td= link_to 'Tomar Examen', new_student_course_test_course_user_test_path(@course, t), class: 'btn btn-success' if !CourseUserTest.where(course_user: @course_user, completed: false).present?
        .content-wrapper.col-sm-9.col-md-10
          .application-content
            .content-margin.row
              .app-text-holder.row.main-bg
                %content
                  %h3= "Tabla de Exámenes"
                  %table.table
                    %thead
                      %tr
                        %th
                          Examen
                        %th
                          Estado
                        %th
                          Preguntas Totales
                        %th
                          Tiempo restante
                        %th
                          Preguntas Contestadas
                        %th
                          Preguntas Correctas
                        %th
                          Preguntas Incorrectas
                        %th
                          Acciones
                    %tbody
                      - @course_user_tests.each do |cut|
                        %tr
                          %td= cut.test.title
                          %td= cut.completed ? 'Completado' : 'Pausado'
                          %td= cut.test.questions.count
                          %td= "#{cut.hour_left}:#{cut.min_left}:#{cut.sec_left}" if !cut.completed
                          %td= cut.total_answers
                          %td= cut.correct_answers if cut.completed
                          %td= cut.incorrect_answers if cut.completed
                          %td= link_to 'Completar', edit_student_course_test_course_user_test_path(@course,cut.test,cut.id), class: 'btn btn-success' if !cut.completed -->
