.alert.fade.in.alert-notice{ :style=>"display:none; margin-bottom:0;"}
  .button.close{ :"data-dismiss"=>"alert"}
    ×
  .show-flash
.application-wrapper.container-fluid
  .row
    =render 'layouts/user_sidebar'
    .main-bg
      %content
        .content-wrapper.col-sm-9.col-md-10
          .application-content
            .content-margin.row
              %ol.breadcrumb{:style=>"background-color:#fff"}
                = render_breadcrumbs :tag => :li, :separator => ""
        .content-wrapper.col-sm-9.col-md-10
          .application-content
            .content-margin.row
              .app-text-holder.row.main-bg
                %content
                  %h2= "Nuevo Examen"
        

        