.simulator-test-holder{
	padding: 0 !important;
	margin-top: 35px !important;
}

.simulator-visual-clues{
	background-color: rgb(218,238,246);
	border: rgb(182,220,236) solid 1px;
	padding-bottom: 30px;
	position:fixed;
	top: 240px;
	right: 10px;
	height: 60%;
	overflow: hidden;
}

.simulator-visual-clues:hover{
	overflow-y:scroll 
}


.simulator-btn{
	display: block;
	margin: 10px auto;
	width: 100px;

}
.simulator-bnt-holder{
	text-align: center;
}


.simulator-heading{
	padding: 10px 20px 15px;
	background-color: #FFF;
	border-radius: 2px 2px 0px 0px;
	border-width: 1px;
	border-style: solid;
	-moz-border-top-colors: none;
	-moz-border-right-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	border-image: none;
	border-color: #DEE6EE #D3DDE5;
}

.simulator-questions{
	padding: 20px 25px;
	background-color: #FFF;
	border-width: 1px;
	border-style: solid;
	-moz-border-top-colors: none;
	-moz-border-right-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	border-image: none;
	border-color: #DAE1E8 #D3DDE5 #B6C8D8;
	box-shadow: 0px 1px 0px 0px rgba(56, 61, 72, 0.09);
	margin: -1px 0px 0px !important;
	border-radius: 3px;
}
.remind-later{
	color: green;
	float: right;
	font-size: 0.75em;
}

.simulator-exam-btn-holder{
	padding: 20px 25px;
	background-color: #FFF;
	border-right: 1px;
	border-left: 1px;
	border-bottom: 1px;
	border-top: 0;
	border-style: solid;
	-moz-border-top-colors: none;
	-moz-border-right-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	border-image: none;
	border-color: #DAE1E8 #D3DDE5 #B6C8D8;
	box-shadow: 0px 1px 0px 0px rgba(56, 61, 72, 0.09);
	margin: -1px 0px 0px !important;
	border-radius: 3px;
}

.simulator-questions-btn{
	display: inline-block;
	width: 200px;
}


/*TIME HOLDER*/

.simulator-time-holder{
	text-align: center;
	padding-top: 25px;
	position:fixed;
	top: 87px;
	right: 10px;
	border: rgb(182,220,236) solid 1px;
	background-color: white;
	padding-bottom:17px
}




/*VISUAL CLUES*/

.simulator-sections-clues{

	background-color: rgb(182,220,236);
	text-align: center;
}
.simulator-clues-heading{
	text-align: center;
	margin: 15px 0 0 0 !important;
}

.clues-subheading{
	color:#3FBEE8;
	margin: 10px auto;
	border: 2px #3FBEE8 solid;
	width: 90%;
	border-radius: 15px;
	background-color: white;
}


.simulator-clue {
	border: black 1px solid;
	display: inline-block;
	width: 20%;
	margin-left: 3%;
	margin-top: 20px;
	height: 30px;
	font-size: 13px;
    padding: 5px 0px 0 0px;
    text-align: center;
    background-color: white;
}

.list-simulator-clue{
	display: inline-block;
	margin-left: 15px;
	margin-top: 10px;
}

.visual-colored-clues{
	text-align: justify;
	margin-top: 30px;
}

.visual-colored-clues ul{
	padding: 0 !important;
	margin: 0px 0px 0px 25px !important;
}

.simulator-clue-answered{
	width: 15px;
	height: 15px;
	border-radius: 50%;
	border: 1px solid rgb(55,171,93);
	display: inline-block;
	background-color: rgb(55,171,93);
}

.simulator-clue-no-answer{
	width: 15px;
	height: 15px;
	border-radius: 50%;
	border: 1px solid white;
	display: inline-block;
	background-color: white;
}
.simulator-clue-later{
	width: 15px;
	height: 15px;
	border-radius: 50%;
	border: 1px solid red;
	display: inline-block;
	background-color: red;
}

.clue-answered{
	background-color: rgb(55,171,93);
	color: white;
}

.clue-later{
	background-color: red;
	color: white;
}

/***************** MEDIA QUERIES ******************/


/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {


}



/* Tablets (portrait and landscape) ----------- */
@media only screen and (min-width : 768px) {

	.simulator-time-holder{
		display: block;
	}

	.simulator-visual-clues{
		display: block;
	}

}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 992px) {

   

}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */
}
