// Place all the styles related to the SubCategories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.table-head{
	text-align: center;
	margin-top: 25px !important;
}

.simulator-holder{
	padding: 0px !important;
}
.table-exercises{
	margin-top: 25px
}

.tb-h{
	font-size: 10px;
	text-align: center;
}

.tb-r{
	font-size: 10px;
	text-align: center;
}

.tb-answered {
	display: none;
}

.table-subcategory{
	background-color: white;
	text-align: left;
	padding: 0px !important;
}
.table-subcategory-r{
	background-color: white;

}

.tb-category-heading{
	text-align: middle;
}

.icon-tb{
	display: inline-block;
	vertical-align: middle;
}

.sub_category-name{
	display: inline-block;
	width: 70%;
	vertical-align: middle;
}

.question-btn-holder{
	text-align: center;
}

.sub-category-btn{
	width: 200px;
	margin-top: 25px !important;
	margin-bottom: 25px !important;
}


.question-img{
	margin: 20px 0 20px 0;
	width: 100%;
}
/***************** MEDIA QUERIES ******************/


/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {


}



/* Tablets (portrait and landscape) ----------- */
@media only screen and (min-width : 768px) {

	.tb-h{
		font-size: 12px;
	}

	.tb-r{
		font-size: 12px;
	}
	.tb-answered {
		display: table-cell;
	}
	.table-subcategory{
		padding-left: 25px !important;
	}

	.simulator-holder{
	padding: 15px !important;
		
	}

}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 992px) {

	.question-img{
		width: 500px;
	}
   

}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */
}