<div class="application-wrapper container-fluid">
    <div class="row">
      <%= render 'layouts/user_sidebar' %>
      <div class="main-bg">
        <content>

          <div class="content-wrapper col-sm-9 col-md-10 ">
            <div class="application-content row">

              <div class="content-margin row">

                <div class="application-content-header">
                  <h3>Ejercicios</h3>
                </div>
                  <div class="app-text-holder row main-bg ">
                        <content>
                          <%= render partial: "sub_categories/statistics_table", locals: { category: @categories.first } %>
                          
                          <div class="app-text-holder row">
                            <div>
                                <div id="chart_container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                            </div>
                          </div>
                          
                          
                        </content>
                        <%= render "layouts/chart_info.js", title: "Progreso en Ejercicios", categories: @sub_category_names, series: @series %>
                  </div>
              </div>
          </div>
        </div>
      </content>

    </div>
  </div>
</div>


<script type="text/javascript">
  $('li.dropdown-exercises').click(function() {
     $('li.dropdown-exercises').not(this).find('ul').hide();
     $(this).find('ul').toggle();
  });
</script>
