<h1>All categories</h1>
<p><%= link_to "New catgory", new_category_path %></p>

<ul>
<% @categories.each do |category| %>
  <li>
    <%= link_to category.name, category_path(category) %>
    <% if category.sub_categories %>
      <ul>
        <% category.sub_categories.each do |sub_category| %>
          <li><%= link_to sub_category.name, category_sub_category_path(category, sub_category)  %></li>
        <% end  %>
      </ul>
    <% end %>
  </li>
<% end if @categories %>
</ul>
