/ - flash.each do |message_type, message|
/   %div{:class => "#{controller.controller_name}-#{action_name} alert fade in alert-#{message_type} container"}
/     %button.close{"data-dismiss" => "alert"} &times;
/     .show-flash{"data-message" => message}= message
